<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>76603819591-b2m780agdufienj78tf1vbc7ath88e3u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76603819591-b2m780agdufienj78tf1vbc7ath88e3u</string>
	<key>API_KEY</key>
	<string>AIzaSyDMxfB42MVRi3JGf-6KiiR7oGi3IW7Q2Vc</string>
	<key>GCM_SENDER_ID</key>
	<string>76603819591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.GooglePhotos</string>
	<key>PROJECT_ID</key>
	<string>photos-320705</string>
	<key>STORAGE_BUCKET</key>
	<string>photos-320705.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76603819591:ios:25d9c4d610aaf765b8d362</string>
</dict>
</plist>